.audio-wrapper {
    background-color: #fcfcfc;
    max-width: 670px;
    height: 70px;
    border: 1px solid #e0e0e0;
}

.audio-left {
    float: left;
    text-align: center;
    width: 18%;
    height: 100%;
}

.audio-left img {
    width: 40px;
    position: relative;
    top: 15px;
    margin: 0;
    cursor: pointer;
}

.audio-right {
    margin-right: 2%;
    float: right;
    width: 80%;
    height: 100%;
}

.audio-right p {
    font-size: 15px;
    height: 35%;
    margin: 8px 0;
    overflow: hidden;
}

.progress-bar-bg {
    background-color: #d9d9d9;
    position: relative;
    height: 2px;
    cursor: pointer;
}

.progress-bar {
    background-color: #649fec;
    width: 0;
    height: 2px;
}

.progress-bar-bg span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3e87e8;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    cursor: pointer; }

.audio-time {
    overflow: hidden;
    margin-top: -1px;
}

.audio-length-total {
    float: right;
    font-size: 12px;
}

.audio-length-current {
    float: left;
    font-size: 12px;
}
.audio-volume div{
    float: left;
    margin-right: 20px;
}
.audio-volume div p{
    margin: 5px;
}
#volume-control{
    cursor: pointer;
}
#play-rate{
    cursor: pointer;
}
.lyrics-bar{/*歌词显示区域*/
    width: 400px;
    height: 300px; /*歌词区域高度*/
    overflow: hidden; /*隐藏超出部分*/
    margin-top: 40px;
    background-color: #d9d9d9;
}
.lyrics{/*歌词列表*/
    line-height: 20px;
    transition-duration: 600ms;/*滚动速度*/
}
.lyrics .lineHigh{/*高亮行*/
    color: #3e87e8;
    font-size: 20px;
}
